<ul>
  <% nodes.each do |node| %>
    <li>
      <%= node.name %>

      <% if node.children.any? %>
        <%= render partial: "tree",
                   locals: { nodes: node.children } %>
      <% end %>
    </li>
  <% end %>
</ul>