<div id="<%= dom_id attachment %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Issue:</strong>
    <%= attachment.issue_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= attachment.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">File path:</strong>
    <%= attachment.file_path %>
  </div>
</div>
